.input {
  width: 100%;
  height: 75px;
  border: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 38px;
  color: white;
  padding: 11px;
  padding-right: 20px;
  overflow-x: auto;
  white-space: nowrap;
}
